html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* تأكد إنهم بياخدوا العرض الكامل */
  overflow-x: hidden; /* مهم جداً لمنع ظهور شريط التمرير الأفقي */
}

.marquee {
  animation: marquee 20s linear infinite;
  white-space: nowrap; 
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
